<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.layoutxml.applistmanagerlibrary">

    <application
        android:label="@string/app_name">
    <receiver
        android:name="com.layoutxml.applistmanagerlibrary.AppList"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT" />
            <action android:name="android.intent.action.PACKAGE_ADDED"  />
            <action android:name="android.intent.action.PACKAGE_CHANGED" />
            <action android:name="android.intent.action.PACKAGE_INSTALL" />
            <action android:name="android.intent.action.PACKAGE_REMOVED" />
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <data android:scheme="package" />
        </intent-filter>
    </receiver>
    </application>

</manifest>